@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Plus+Jakarta+Sans:wght@300&family=Poppins:wght@300&family=Roboto+Condensed&display=swap');

:root{
  --color1: #000000;
  --color2p: #ffffff;
  --color2s: #ffffff;
  --color3: #0AA1DD;
  --color4: #2155CD;
  --color5: #40139b;
  --font1: 'Plus Jakarta Sans', sans-serif;
  --font2: 'Poppins', sans-serif;
  --font3: 'Inter', sans-serif;
}
[data-theme='dark'] {
  --color1: #ffffff;
  --color2p: #212426;
  --color2s: #2C2F33;
  --color3: #8E2DE2;
  --color4: #4A00E0;
  --color5: #40139b;
  --font1: 'Plus Jakarta Sans', sans-serif;
  --font2: 'Poppins', sans-serif;
  --font3: 'Inter', sans-serif;
}

body, html{
  margin: 0;
  padding: 0;
  background: var(--color2s);
}

.navbar{
  display: grid;
  justify-items: center;
  border-style: solid;
  border-width: 0px 0px 1vh 0px;
  border-color: var(--color4);
  grid-template-columns: 2fr 5fr 1fr;
  height: 12vh;
  align-items: center;
  background: var(--color2p);
}

.titulo{
  font-family: var(--font2);
  color: var(--color1);
  font-size: 3.5vw;
  font-weight: bold;
}

.sections{
  display: flex;
  justify-content: center;
  gap: 8vw;
}

.navbar-select{
  font-size: 2vw;
  font-family: var(--font1);
  color: var(--color1);
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: var(--color2p);
  user-select: none;
  cursor: pointer;
}
.navbar-select:hover{
  color: var(--color3);
  transition: 0.35s ease;
}
.contentselected{
  border-color: var(--color3);
}

.contentselection:hover>.dropdowns{
  display: flex;
  flex-direction: column;
}

.dropdowns{
  padding-top: 1.5vh;
  display: none;
  position: absolute;
}

.dropdownitem{
  border: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--color4);
  background-color: var(--color3);
  color: #ffffff;
  font-family: var(--font1);
  font-size: 2.3vw;
  text-align: left;
  cursor: pointer;
}
.dropdownitem:hover{
  background-color: var(--color4);
}

.titlesecond{
  text-align: left;
  font-size: 3.5vw;
  font-weight: bold;
  font-family: var(--font1);
  color: var(--color1);
}
main{
  background-color: var(--color2s);
  padding: 4vh 10vw 10vh 10vw;
  min-height: 69vh;
}
/* 83vh (main, height+padding vertical) + 13vh (navbar, height+border) + 4vh (foot) = 100vh */

.foot{
  background: var(--color4);
  color: #ffffff;
  font-family: var(--font1);
  font-size: 2vh;
  bottom: 0;
  left: 0;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkmode{
  background-color: var(--color2p);
  cursor: pointer;
  border: none;
}
.darkmode:hover{
  border: solid 2px #8E2DE2;
}

.homebutton{
  background: var(--color2s);
  color: var(--color3);
  font-family: var(--font2);
  font-weight: bold;
  font-size: 1.5vw;
  border: solid;
  border-color: var(--color3);
  cursor: pointer;
  align-self: center;
  max-width: fit-content;
  margin-top: 3vh;
}
.homebutton:hover{
  color: var(--color4);
  border-color: var(--color4);
  font-size: 2.5vw;
  transition: 0.35s ease;
}

.secondtext{
  font-family: var(--font3);
  font-size: 1.5vw;
  color: var(--color1);
}

.home{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.anot{
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--color3);
  width: 30vh;
  height: 40vh;
  border: solid;
  border-color: var(--color3);
  border-width: 1vh 2px 2px 2px;
  box-shadow: 5px 5px 0px var(--color3);
}
.editting{
  box-shadow: 5px 5px 15px var(--color3);
}

.anotcontent::-webkit-scrollbar {
  width: 7px;
}
.anotcontent::-webkit-scrollbar-thumb{
  background-color: var(--color3);
}
.anotcontent::-webkit-scrollbar-thumb:hover{
  background-color: var(--color4);
}

.displayanotations .wholething:nth-child(even){
  transform: rotate(2deg);
  top: -3px;
  position: relative;
}
.displayanotations .wholething:nth-child(3n){
  transform: rotate(-2deg);
  top: 3px;
  position: relative;
}
.displayanotations .wholething:nth-child(5n){
  transform: rotate(1deg);
  top: -2px;
  position: relative;
}
.displayanotations .wholething:hover{
  transform: scale(1.15);
  position: relative;
  z-index: 1;
  transition: 0.45s ease;
}

img{
  width: 7vh;
  height: 7vh;
}

.necessarydata{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color2p);
  border-radius: 20px;
  color: var(--color1);
  width: 30vh;
  height: 40vh;
  border: solid;
  border-width: 1px;
  border-color: var(--color1);
}

.confirmbuttons{
  border-radius: 5px;
  border: none;
  color: var(--color2p);
  font-family: var(--font3);
  background-color: var(--color4);
  color: #ffffff;
  cursor: pointer;
}
.confirmbuttons:hover{
  background-color: var(--color5);
}

.displayanotations{
  margin-top: 3vh;
  gap: 1vw;
  display: flex;
  flex-wrap: wrap;
}

.addanotation{
  margin-top: 4vh;
  width: 30vh;
  height: 40vh;
  font-family: var(--font1);
  color: var(--color3);
  background: var(--color2s);
  border-radius: 25px;
  border-style: dashed;
  border-color: var(--color3);
  padding-bottom: 8vh;
  font-size: 15vh;
  cursor: pointer;
}
.addanotation:hover{
  color: var(--color4);
  border-color: var(--color4);
}

input, textarea{
  box-sizing: border-box;
  resize: none;
  border: none;
  font-family: var(--font2);
  outline: none;
  width: 100%;
}

.anottitle{
  white-space: nowrap;
  padding-left: 2px;
  height: 4.5vh;
  font-size: 3.5vh;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ffffff;
  font-family: var(--font2);
}

.anotcontent{
  padding-left: 2px;
  word-break: break-all;
  background-color: #ffffff;
  font-family: var(--font2);
  font-size: 2.25vh;
  overflow: auto;
  height: 35vh;
}

.functionbutton{
  color: var(--color1);
  background: none;
  border: none;
  background: none;
  cursor: pointer;
  height: 4vh;
  width: 4vh;
}
.deletebutton{
  font-size: 3vh;
}
.deletebutton:hover{
  background-color: #e61e1e;
  color: #ffffff;
}

.linkbutton{
  max-width: fit-content;
  padding: 0 2vw;
  font-size: 5vh;
  border: dashed var(--color3);
  color: var(--color3);
  background: none;
}
.linkbutton:hover{
  border-color: var(--color4);
  color: var(--color4);
}

.coloredtext{
  color: var(--color3);
}

.bothbuttons{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.requestingdata{
  text-align: center;
  font-family: var(--font3);
  color: #ffffff;
}

.listarea::-webkit-scrollbar {
  width: 5px;
}
.listarea::-webkit-scrollbar-thumb{
  background-color: var(--color3);
}
.listarea::-webkit-scrollbar-thumb:hover{
  background-color: var(--color4);
}

.littlelink{
  border: solid;
  border-width: 2px 0 2px 2px;
  background-color: var(--color3);
  border-color: var(--color4);
  color: #ffffff;
  font-size: 5vh;
  font-family: var(--font3);
  cursor: pointer;
  text-decoration: none;
  padding: 0 2vw;
}
.littlelink:hover{
  background-color: var(--color4);
  border-color: var(--color5);
}

.linkdata{
  border-width: 2px;
  font-size: 2vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
}
.linkdata:hover{
  background-color: var(--color3);
  border-color: var(--color4);
}

.linkdisplay{
  display: flex;
  gap: 0px;
}

.deletelinkbutton{
  font-size: 5vh;
  border: solid var(--color4);
  border-width: 2px 2px 2px 0;
  color: var(--color1);
  background-color: var(--color2s);
  cursor: pointer;
}
.deletelinkbutton:hover{
  color: #ffffff;
  background-color: #e61e1e;
}

.editimg{
  background-image: url("pencil.png");
  background-size: cover;
}
.greenbutton{
  background-image: url("pencilcheck.png");
}
.dropdownbutton{
  background-image: url("three-bars-icon-28.jpg");
  background-size: cover;
  width: 2.25vh;
  height: 2.25vh;
}
.functionality{
  border: solid 1px var(--color3);
}

.displaynone{
  display: none;
}