@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Plus+Jakarta+Sans:wght@300&family=Poppins:wght@300&display=swap');

:root{
  --color1: #000000;
  --color2p: #ffffff;
  --color2s: #f9f9f9;
  --color3: #50cdff;
  --color4: #0AA1DD;
  --color5: #2155CD;
  --font1: 'Plus Jakarta Sans', sans-serif;
  --font2: 'Poppins', sans-serif;
  --font3: 'Inter', sans-serif;
}
[data-theme='dark'] {
  --color1: #ffffff;
  --color2p: #212426;
  --color2s: #2C2F33;
  --color3: #af45e0;
  --color4: #8E2DE2;
  --color5: #3e087c;
  --font1: 'Plus Jakarta Sans', sans-serif;
  --font2: 'Poppins', sans-serif;
  --font3: 'Inter', sans-serif;
}

body, html{
  scroll-padding-top: 12vh;
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--color2s);
}

button, input, textarea{
  color: inherit;
  background-color: inherit;
  outline: none;
  margin: 0px;
  padding: 0px;
}

input,textarea,button,select,a, div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a{
  color: inherit;
}

main{
  background-color: var(--color2s);
  padding: 4vh 8vw 10vh 8vw;
  min-height: 70vh;
}
/* 84vh (main, height+padding vertical) + 13vh (navbar, height+border) + 3vh (foot) = 100vh */

.landingpage{
  border: none;
  background-color: #212426;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}
.landingpage .titulo{
  font-size: clamp(100px,10vw,200px);
  user-select: auto;
  color: #000000;
}
.landingnavbar .titulo{
  color: #ffffff;
  text-decoration: none;
}

.upperlanding{
  width: 90vw;
  padding: 12.5vh 5vw;
  height: 75vh;
  background: linear-gradient(to right, #ffffff, #eeeeee);
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
}
.landingsvg{
  color: var(--color2p);
  width: 75px;
  height: 75px;
  color: var(--color5);
}
.landingtext{
  font-family: var(--font1);
  color: #ffffff;
  font-size: clamp(35px, 6vw, 75px);
  font-weight: bold;
}
.landinggrid{
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.minor{
  font-size: 17px;
  font-weight: normal;
}
.featuresshowcase{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.secondlandingtitle{
  margin-bottom: 3vh;
}
.landingflex{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 300px;
  align-items: center;
  justify-content: flex-start;
}
.blacktext{
  color: var(--color1);
}

.blacklink{
  color: var(--color1);
  text-decoration: none;
}
.greenlink{
  color: #34b27b;
  text-decoration: none;
}
.purplelink{
  color: #430f7e;
  text-decoration: none;
}
.purplelink:hover, .greenlink:hover, .blacklink:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.landingbutton{
  font-family: var(--font2);
  font-weight: bold;
  color: #ffffff;
  font-size: 5vh;
  background-color: var(--color4);
  border: none;
  border-radius: 20px;
  width: fit-content;
  padding: 10px 50px;
  box-shadow: 5px 5px 15px var(--color3);
  cursor: pointer;
}
.landingbutton:hover{
  background-color: var(--color5);
  box-shadow: 5px 5px 15px var(--color4);
}
.smalllandingsvg{
  height: 6vh;
  width: 6vh;
}
.landingbuttons{
  margin-top: 5vh;
  align-items: center;
  display: flex;
  gap: 4vw;
}
.otherbutton{
  box-shadow: 5px 5px 10px #dddddd;
  background-color: var(--color2p);
  color: var(--color1);
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: auto;
  justify-content: center;
}
.otherbutton:hover{
  background-color: var(--color2p);
  box-shadow: 5px 5px 10px #c9c9c9;
}
.landinglink{
  font-family: var(--font2);
  font-size: 2.5vh;
  color: var(--color2p);
  text-decoration: none;
}
.landinglink:hover{
  color: #c9c9c9;
}
.landingnavbar{
  z-index: 1;
  position: fixed;
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  place-items: center;
  height: 12.5vh;
  background-color: var(--color1);
  width: 100vw;
}
.landingnavbar .titulo{
  font-size: 7.5vh;
  color: var(--color2p);
}
.landingfooter{
  padding: 3vh 5vw;
  width: 90vw;
  display: grid;
  place-items: center;
  background-color: var(--color5);
}

.tutorial{
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 10vw;
}
.cardtutorial{
  padding: 5vh 0 0 0;
  width: 100vw;
}
.cardtutorial .minor{
  margin: 0 20px;
  max-width: 625px;
}
.whitetutorial{
  background-color: var(--color2p);
}
.subtitle{
  color: var(--color1);
  font-family: var(--font1);
  font-size: 30px;
}
.card{
  justify-content: center;
  box-sizing: border-box;
  background-color: #35393b;
  display: flex;
  gap: 20px;
  padding: 15px 5vw;
  width: 50vw;
  height: 200px;
  align-items: center;
}
.groupcard{
  width: 100vw;
  background-color: #292c2e;
  display: flex;
  justify-content: center;
}
.groupcard .card{
  background-color: inherit;
}
.card:nth-child(2n){
  background-color: #2C2F33;
}
.card:nth-child(3n){
  background-color: #2C2F33;
}
.card:nth-child(4n){
  background-color: #35393b;
}
.cardsvg{
  color: #ffffff;
  width: 125px;
  height: 125px;
}
.card .cardanotation{
  color: #ffffff;
}
.cardanotation{
  font-size: 25px;
  font-family: var(--font1);
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color5);
}
.carddescription{
  font-size: 16px;
  color: #ffffff;
  font-family: var(--font1);
}

.login{
  background: linear-gradient(to top right, #1b4bbb, #0ea8e6);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
}
.loginimage{
  width: 50vw;
  height: 100vh;
}
.loginbox{
  padding: 5vh 0 5vh 0;
  height: 90vh;
  width: 50vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.loginbox .titulo{
  font-size: 10vh;
  color: var(--color1);
}
.divinput button{
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vh;
  height: 2.5vh;
  background-color: var(--color2p);
  border: none;
}
.loginsvg2{
  width: 4.5vh;
  height: 4.5vh;
}
.loginbox .divinput{
  display: flex;
  height: 4vh;
  width: 75%;
  border: solid 2px var(--color4);
  padding: 2vh 1vh;
  font-size: 2.5vh;
}
.logintext{
  font-size: 4vh;
  font-family: var(--font3);
}
.loginerror{
  font-size: 2.5vh;
  color: #e61e1e;
}
.loginchangewrapper{
  font-size: 2.25vh;
  font-family: var(--font1);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.loginchange{
  outline: none;
  border: none;
  width: fit-content;
  background-color: var(--color2p);
  cursor: pointer;
  color: var(--color4);
  font-family: var(--font1);
  font-size: 2.25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loginchange:hover{
  color: var(--color5);
}
.loginbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color4);
  color: #ffffff;
  outline: none;
  border: none;
  width: fit-content;
  padding: 15px;
  margin-top: 2.5vh;
  box-shadow: 3px 3px var(--color5);
  cursor: pointer;
}
.loginbutton:hover{
  background-color: var(--color5);
  box-shadow: none;
}

.navbar{
  display: grid;
  justify-items: center;
  grid-template-columns: 1.25fr 2fr 1fr;
  height: 13vh;
  align-items: center;
  background: var(--color2p);
}
.loginlink{
  font-family: var(--font1);
  color: var(--color4);
  font-weight: normal;
  cursor: pointer;
  font-size: 2.25vh;
}
.loginlink:hover{
  color: var(--color5);
}

.titulo{
  font-family: var(--font2);
  color: var(--color1);
  font-size: 8vh;
  font-weight: bold;
  user-select: none;
}

.sections{
  display: flex;
  justify-content: center;
  gap: 7.5vw;
}
.navbarwrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbarwrapper:hover .dropdowns, .dropdowns:hover{
  display: flex;
}
.absolutesvg{
  position: absolute;
  left: 38px;
  width: 20px;
  height: 20px;
}
.navbarsvg{
  width: 38px;
  height: 38px;
}
.navbar-select{
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  padding: 0.25vh;
  color: var(--color1);
  user-select: none;
  cursor: pointer;
}
.navbar-select:hover, .contentselection:hover .dropbutton{
  color: var(--color4);
  transition: 0.35s ease;
}
.contentselection{
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.dropdowns{
  top: 40px;
  padding-top: 5px;
  position: absolute;
  display: none;
  z-index: 4;
}
.dropdownswrapper{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  grid-template-columns: auto;
  place-items: center;
  overflow: hidden;
  gap: 0;
  margin: 0;
  padding: 2px;
  background-color: var(--color4);
  border-radius: 5px;
}
.droptop{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.dropbottom{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.dropdownswrapper button{
  height: 100%;
  width: 100%;
}
.dropdownitem{
  border: none;
  gap: 0;
  margin: 0;
  padding: 4px 10px;
  background-color: var(--color2p);
  color: var(--color1);
  font-family: var(--font2);
  font-size: 3.25vh;
  text-align: left;
  cursor: pointer;
}
.dropdownitem:hover{
  background-color: var(--color4);
  color: #ffffff;
}

.titlesecond{
  text-align: left;
  font-size: 3.8vh;
  font-weight: bold;
  font-family: var(--font1);
  color: var(--color1);
}

.foot{
  background: var(--color5);
  color: #ffffff;
  font-family: var(--font1);
  font-size: 1.4vh;
  bottom: 0;
  left: 0;
  height: 3vh;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerlink{
  color: var(--color3);
  cursor: pointer;
}
.footerlink:hover{
  color: var(--color4);
}

.darkmode{
  background-color: var(--color2p);
  cursor: pointer;
  border: none;
  border-radius: 5vh;
  padding: 3px 0px;
  width: 10vh;
  border: solid 2px var(--color4);
  color: var(--color4);
}
.darkmode:hover{
  background-color: var(--color4);
  color: var(--color2p);
}
.darkanimation{
  animation: pulse 0.7s;
  box-shadow: 0 0 0 1.2em transparent;
}
.darkicon{
  width: 5vh;
  height: 5vh;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--color4); }
}

.homebutton{
  padding: 0px 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: var(--color2s);
  color: var(--color4);
  font-family: var(--font2);
  font-weight: bold;
  font-size: 4.25vh;
  border: solid;
  border-color: var(--color4);
  cursor: pointer;
  align-self: center;
  max-width: fit-content;
  margin: 1.5vh 0 3vh 0;
  box-shadow: none;
  transition: 0.65s;
}
.homebutton:hover{
  box-shadow: inset 11em 0 0 0 var(--color4);
  color: #ffffff;
}
.homebutton::before{
  content: 'Leve-me para lá';
}

.secondtext{
  margin: 3vh 0;
}
.secondtext, .secondtext input{
  background-color: var(--color2s);
  font-family: var(--font3);
  font-size: 3vh;
  word-wrap: break-word;
  color: var(--color1);
}

.home{
  display: flex;
  flex-direction: column;
}

.anot{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: var(--color4);
  width: 225px;
  height: 275px;
  border: solid;
  border-color: var(--color4);
  border-width: 6px 2px 2px 2px;
}
.editting{
  box-shadow: 0px 0px 25px var(--color4) ;
}
.smallanot{
  width: 150px;
  height: calc(175px + 2px - 6px);
}
.smallanot .anotcontent{
  height: calc(calc(175px + 2px - 6px) - 30px)
}

.anotcontent::-webkit-scrollbar, .previewbox::-webkit-scrollbar{
  width: 7px;
}
.anotcontent::-webkit-scrollbar-thumb, .previewbox::-webkit-scrollbar-thumb{
  background-color: var(--color4);
}
.anotcontent::-webkit-scrollbar-thumb:hover, .previewbox::-webkit-scrollbar-thumb:hover{
  background-color: var(--color5);
}

.confirmbuttons{
  border-radius: 5px;
  border: none;
  font-family: var(--font2);
  font-size: 2.5vh;
  padding: 0 5px;
  background-color: var(--color2p);
  border: 2px solid var(--color4);
  color: var(--color4);
  cursor: pointer;
}
.confirmbuttons:hover{
  color: var(--color2p);
  background-color: var(--color4);
}

.displayanotations{
  margin-top: 3.5vh;
  padding-bottom: 5vh;
  gap: 1.5vw;
  display: flex;
  flex-wrap: wrap;
}
.displayfavorites{
  margin-top: 2vh;
}

.addanotation{
  color: #ffffff;
  background: var(--color4);
  border-radius: 50px;
  position: fixed;
  border: none;
  width: 50px;
  height: 50px;
  bottom: calc(3vh + 7.5vh - 25px);
  padding: 13px;
  left: calc(50% - 25px);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}
.addanotation:hover{
  background-color: var(--color5);
}

.addsvg{
  width: 25px;
  height: 25px;
}

input, textarea{
  box-sizing: border-box;
  resize: none;
  border: none;
  font-family: var(--font2);
  outline: none;
  width: 100%;
}

.anottitle{
  white-space: nowrap;
  padding-left: 2px;
  height: 27px;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--color2p);
  color: var(--color1);
  font-family: var(--font2);
}

.anotcontent{
  background-color: var(--color2p);
  color: var(--color1);
  font-family: var(--font2);
  overflow: auto;
  height: calc(275px - 30px);
  word-wrap: break-word;
  padding: 0 2px;
  font-size: 15px;
}

.functionbutton{
  background: none;
  color: var(--color1);
  background-color: var(--color2p);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 25px;
}
.deletebutton{
  color: #e61e1e;
}

.coloredtext{
  color: var(--color4);
}

.bothbuttons{
  display: flex;
  justify-content: center;
  gap: 3px;
}
.listarea::-webkit-scrollbar {
  width: 0px;
}
.wholelink{
  display: flex;
  position: relative;
}
.outermenu{
  border: solid var(--color4);
  border-width: 2px 2px 2px 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.favoritelink{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  outline: none;
  border:none;
  background-color: var(--color2p);
  color: var(--color4);
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.favoritelink:hover{
  color: var(--color5);
}
.linkimage{
  width: 4vh;
  height: 4vh;
  align-self: center;
  justify-self: center;
  margin-left: 7px;
}
.littlelink{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color2p);
  color: var(--color1);
  border: solid var(--color4) 2px;
  font-size: 3.5vh;
  font-family: var(--font3);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px; 
}
.wholeborder{
  border-radius: 12px;
}
.littlelink:hover{
  background-color: var(--color4);
}
.littlelink:hover .linktext{
  color: #ffffff
}
.linktext{
  padding: 5px;
  text-decoration: none;
  min-width: fit-content;
  color: var(--color4);
}
.deletelinkbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  color: #e61e1e;
  background-color: var(--color2p);
  outline: none;
}
.deletelinkbutton:hover{
  color: #ad1212;
}
.requestdata{
  padding: 10px;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--color2p);
  border: solid 2px var(--color5);
  gap: 10px;
  cursor: auto;
}
.requestdata input{
  padding-left: 3px;
  font-size: 2.5vh;
  background-color: var(--color2p);
  font-family: var(--font3);
  border: solid 2px var(--color4);
}
.requestdata:hover{
  background-color: var(--color2p);
}

svg{
  overflow: visible;
}
.dropdownsvg{
  height: 20px;
  width: 20px;
}
.favanot:hover{
  transform: scale(1.05);
}
.functionalitywrapper{
  height: fit-content;
}
.functionbutton:hover{
  background-color: var(--color2s);
}
.functionality{
  position: relative;
  z-index: 3;
  width: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  column-gap: 2px;
  height: 25px;
  border: none;
  padding: 2px;
  overflow: hidden;
  background-color: var(--color5);
}
.dropdownbutton{
  background-color: var(--color5);
  color: #ffffff;
}
.dropdownbutton:hover{
  background-color: var(--color5);
}
.wholething:hover .functionality{
  height: 100%;
  animation: growDown 0.4s linear;
}
.removesvg{
  color: #e61e1e;
}
.removesvg:hover{
  background-color: var(--color2p);
  color: #ad1212;
}
.deletebutton:hover{
  background-color: #e61e1e;
  color: #ffffff;
}
.wholething{
  position: relative;
  display: flex;
}
.menuview{
  height: 100%;
  animation: none !important;  
}
.listinstruction{
  color: #808080;
  user-select: none;
  font-size: 10px;
  word-wrap: break-word;
}
.listarea{
  font-size: 15px;
}

.displaycompleted{
  position: absolute;
  right: 35px;
  font-size: 2.125vh;
  top: -3vh;
  text-align: right;
  font-family: var(--font2);
  font-weight: bold;
  color: var(--color3);
}
.homesvg{
  width: 4.5vh;
  height: 4.5vh;
}

.securitysvg{
  height: 75px;
  width: 75px;
}
.redtext{
  color: #e61e1e;
}
.securitybuttons{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.securitybox button{
  font-family: var(--font1);
  font-size: 16px;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
}
.cancelbutton{
  background-color: #e61e1e;
}
.cancelbutton:hover{
  background-color: #ad1212;
}
.confirmbutton{
  background-color: var(--color4);
}
.confirmbutton:hover{
  background-color: var(--color5);
}
.securitybox{
  box-shadow: 4px 4px 4px  rgba(80, 80, 80, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  background-color: var(--color2s);
  color: var(--color1);
  width: 300px;
  height: 200px;
  border-radius: 10px;
  font-family: var(--font1);
  font-size: 16px;
}
.minortext{
  font-size: 12px;
}
.disabledpage{
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  width: 100vw;
  height: 100vh;
}

.status{
  font-family: var(--font3);
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color1);
  font-size: 2vh;
}
.displayanotationsgroups{
  margin-top: 0;
  gap: 0;
}

@keyframes growDown {
  0% {
    height: 25px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  99% {
    overflow: hidden;
    flex-wrap: wrap;
    height: 165px;
  }
  100% {
    overflow: visible;
    flex-wrap: nowrap;
  }
}

.greentext{
  color: var(--color4);
}

.anotcontent .functionbutton{
  width: 4vh;
  height: 4vh;
}
.checksvg{
  color: var(--color4);
}
.checksvg:hover{
  color: var(--color5);
  background-color: var(--color2p);
}

.responsiveImg{
  height: 4vh;
  width: 4vh;
  display: none;
}

.bluebackground{
  background-color: var(--color3);
}

.panimation{
  animation: pulse 0.8s;
  box-shadow: 0px 0px 0px 1.75em transparent 
}

.flex{
  display: flex;
  align-items: center;
  gap: 10px;
}

.displaymodes{
  top: -3vh;
  position: absolute;
  display: flex;
  gap: 3px;
}

.favtitle{
  margin: 2vh 0 0 0;
}

.rotating{
  animation: rotation 0.75s infinite;
}

@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.conectionsvg{
  height: 5vh;
  width: 5vh;
}

.empty{
  color: var(--color1);
  font-size: 2.25vh;
  font-family: var(--font3);
  margin-top: 1.5vh;
}

.userdata{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.userdata div{
  display: flex;
}
.useredit{
  padding: 8px;
  background-color: var(--color4);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  width: fit-content;
  color: #ffffff;
  font-family: var(--font3);
  font-size: 3vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.useredit:hover{
  background-color: var(--color5);
}

.editprofilebuttons{
  display: flex;
  gap: 5px;
  align-items: center;
}

.loginsvg{
  width: 5.5vh;
  height: 5.5vh;
  margin-left: 1.5vh;
}
.modesvg{
  height: 2.5vh;
  width: 2.5vh;
}

.grouptitle{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font2);
  font-weight: bold;
  font-size: 3vh;
  background-color: var(--color2s);
  color: var(--color1);
  width: 100%;
  border: solid var(--color4);
  border-width: 0 0 2px 0;
}
.titleinput{
  overflow: hidden;
  font-weight: bold;
  font-size: 3vh;
}
.grouptitle input, .grouptitle div{
  width: 100%;
}
.grouptitle button{
  border: none;
  cursor: pointer;
  color: var(--color4);
}
.grouptitle button:hover{
  color: var(--color5);
}
.grouptitle .groupdeletebutton{
  color: #e61e1e;
}
.grouptitle .groupdeletebutton:hover{
  color: #ad1212;
}
.group{
  width: 100%;
  margin-top: 3vh;
  background-color: var(--color2s);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.specificgroup{
  gap: 1.5vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.previewbox{
  box-shadow: 4px 4px 4px  rgba(80, 80, 80, 0.25);
  background-color: var(--color2s);
  border: none;
  position: relative;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  border-radius: 10px;
  width: 80vw;
  height: 80vh;
}

.addbuttonswrapper{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.addbuttongroups{
  position: relative;
  height: 40px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color2s);
  border: dashed var(--color4) 2px;
  border-radius: 25px;
  cursor: pointer;
  color: var(--color4);
}
.addbuttongroups:hover, .addbuttonlinks:hover{
  color: var(--color5);
  border-color: var(--color5);
}
.previewflex{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 10px;
}
.previewtitle{
  padding: 10px 30px 10px 15px;
  font-family: var(--font3);
  background-color: var(--color2p);
  color: var(--color1);
  font-size: 3vh;
}
.exitpreview{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: var(--color4);
  background-color: var(--color2p);
  border: none;
}
.exitpreview:hover{
  color: var(--color5);
}
.previewbox .littlelink, .previewbox .wholeimage{
  pointer-events: none;
}
.previewbox .zoomicon{
  display: none;
}
.zoomicon{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  color: var(--color4);
}
.imgwrapper{
  position: relative;
}
.zoomout{
  right: 0px;
  width: 25px;
  height: 25px;
}
.favanot .zoomicon{
  right: 0px;
}

.previewnote{
  user-select: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
}
.previewnote:hover{
  transform: scale(1.05);
}
.previewnote .favanot:hover{
  transform: scale(1);
}
.previewcheckedsvg{
  position: absolute;
  width: 15vh;
  height: 15vh;
}
.previewcheckedsvglink{
  position: absolute;
  width: 50px;
  height: 50px;
}
.previewsubtitle{
  color: var(--color4);
}
.displaychoice{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.displaychoice button{
  color: var(--color1);
  border: var(--color2s) solid;
  border-width: 0 0 2px 0;
  padding: 2px;
  cursor: pointer;
}
.displaychoice .chosenstyle{
  border-color: var(--color4);
}
.displaychoice button:hover{
  color: var(--color4);
}
::-webkit-inner-spin-button,::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.datebox{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 136px;
  bottom: 4px;
  left: 4px;
  border: 2px solid var(--color4);
  background-color: var(--color5);
  color: #ffffff;
  font-family: var(--font2);
  font-weight: bolder;
  font-size: 15px;
  border-radius: 20px;
  padding: 4px;
}
.calendarspace{
  height: 40px;
}
.dateinputs{
  max-width: 82.5%;
}

.displayimgs{
  align-items: flex-start;
}
.imgpicture{
  max-width: 275px;
  max-height: 275px;
  cursor: pointer;
}
.wholeimage{
  border-radius: 10px;
  border: solid 2px;
  border-color: var(--color4);
  overflow: hidden;
  display: flex;
  position: relative;
}
.wholeimage .outermenu{
  flex-direction: column;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.entireimage{
  max-width: 90vw;
  max-height: 90vh;
  user-select: none;
}

.userdata .imgpicture, .navbar-select .imgpicture{
  width: 128px;
  height: 128px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.navbar-select .imgpicture{
  width: 38px;
  height: 38px;
}
.profilepicwrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  border: 3px solid var(--color1);
  overflow: hidden;
  cursor: pointer;
}
.navbar-select .profilepicwrapper{
  border-color: var(--color2p);
}
.navbar-select .whiteborder{
  border-color: var(--color1);
}
.userdata .loginpicturewrapper{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.profilepicwrapper:hover .loginpicturewrapper{
  display: flex;
}
.loginpicturesvg{
  width: 30px;
  color: #ffffff;
  height: 30px;
}

@keyframes disabletouch {
  0%{
    pointer-events: none;
  }
  100%{
    pointer-events: all;
  }
}

@media screen and (max-width: 1024px){
  .dateinputs{
    max-width: 100%;
  }
}
@media screen and (max-width: 768px){
  .homebutton::before{
    content: 'Leve-me lá';
  }
  .specificgroup{
    justify-content: center;
  }
  .titlesecond{
    text-align: center;
  }
  .displayanotationswrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infoflex{
    justify-content: center;
  }
  .displayanotations{
    justify-content: center;
    row-gap: 3.5vh;
    column-gap: 1vh;
  }
  .status{
    justify-content: center;
  }
  .navbar{
    display: flex;
    flex-direction: column;
    overflow: visible;
    height: fit-content;
    padding-bottom: 3vh;
  }
  main{
    padding: 4vh 5vw 8vh 5vw;
  }
  .addanotation{
    bottom: calc(3vh + 6.5vh - 25px);
  }
  .responsiveImg{
    display: block;
  }
  .sections{
    display: none;
  }
  .navbar:hover .sections{
    animation: disabletouch 0.5s;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 12.5vw;
  }
  .navbar:hover .dark-wrapper{
    display: flex;
    animation: disabletouch 0.5s;
  }
  .navbar:hover .responsiveImg{
    display: none;
  }
  .navbar-select:hover, .contentselection:hover .dropbutton{
    color: var(--color1);
    transition: 0s;
  }
  .dropdownswrapper{
    padding: 2px;
  }
  .dark-wrapper{
    margin-top: 3vh;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .absolutesvg{
    left: 5.5vh;
  }
  .flex{
    gap: 0px;
    flex-direction: column;
  }
  .previewflex{
    justify-content: center;
  }
  .justifycenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .secondtext input{
    width: 100%;
  }
  .editprofilebuttons{
    justify-content: center;
  }
  .userdata div{
    flex-direction: column;
  }
  .addbuttonswrapper{
    justify-content: center;
  }
  .loginbox{
    width: 100vw;
  }
  .landingbuttons{
    flex-direction: column;
    gap: 3vh;
  }
  .otherbutton{
    font-size: 5vh;
    padding: 10px 10px;
    gap: 5px;
  }
  .landingnavbar .titulo{
    display: none;
  }
  .landingnavbar{
    grid-template-columns: repeat(3, 1fr);
  }
  .card{
    width: 100vw;
    gap: 10px;
  }
  .card:nth-child(3n){
    background-color: #212426;
  }
  .card:nth-child(4n){
    background-color: #2C2F33;
  }
}

.displaynone{
  display: none;
}