@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Plus+Jakarta+Sans:wght@300&family=Poppins:wght@300&family=Roboto+Condensed&display=swap');

:root{
  --color1: #000000;
  --color2p: #ffffff;
  --color2s: #ffffff;
  --color3: #50cdff;
  --color4: #0AA1DD;
  --color5: #2155CD;
  --font1: 'Plus Jakarta Sans', sans-serif;
  --font2: 'Poppins', sans-serif;
  --font3: 'Inter', sans-serif;
}
[data-theme='dark'] {
  --color1: #ffffff;
  --color2p: #212426;
  --color2s: #2C2F33;
  --color3: #af45e0;
  --color4: #8E2DE2;
  --color5: #3e087c;
  --font1: 'Plus Jakarta Sans', sans-serif;
  --font2: 'Poppins', sans-serif;
  --font3: 'Inter', sans-serif;
}

body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--color2s);
}

button, input{
  outline: none;
  margin: 0px;
  padding: 0px;
}

input,textarea,button,select,a, div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.login{
  background-color: var(--color5);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loginbox{
  padding: 5vh 0;
  height: 65vh;
  width: 40vw;
  border-radius: 10px;
  box-shadow: 7px 7px var(--color3);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.loginbox .titulo{
  font-size: 10vh;
  color: #000000;
}
.divinput button{
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  border: none;
}
.divinput input{
  font-size: 2.2vh;
}
.loginsvg{
  width: 4.25vh;
  height: 4.25vh;
}
.loginbox .divinput{
  display: flex;
  width: 75%;
  border: solid 2px var(--color4);
  padding: 2vh 1vh;
  font-size: 2.5vh;
}
.logintext{
  font-size: 4vh;
  font-family: var(--font3);
}
.loginerror{
  font-size: 2.5vh;
  color: #e61e1e;
}
.loginchangewrapper{
  font-size: 2.5vh;
  font-family: var(--font3);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 1.5vh;
}
.loginchange{
  outline: none;
  border: none;
  width: fit-content;
  background-color: #ffffff;
  cursor: pointer;
  color: var(--color4);
  font-family: var(--font3);
  font-size: 2.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loginchange:hover{
  color: var(--color5);
}
.loginbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color4);
  color: #ffffff;
  outline: none;
  border: none;
  width: fit-content;
  padding: 15px;
  margin-top: 2.5vh;
  box-shadow: 3px 3px var(--color5);
  cursor: pointer;
}
.loginbutton:hover{
  background-color: var(--color5);
  box-shadow: none;
}

.navbar{
  display: grid;
  justify-items: center;
  border-style: solid;
  border-width: 0px 0px 1vh 0px;
  border-color: var(--color5);
  grid-template-columns: 1.25fr 2fr 1fr;
  height: 12vh;
  align-items: center;
  background: var(--color2p);
}

.titulo{
  font-family: var(--font2);
  color: var(--color1);
  font-size: 8vh;
  font-weight: bold;
  user-select: none;
}

.sections{
  display: flex;
  justify-content: center;
  gap: 7.5vw;
}
.navbarwrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbarwrapper:hover .dropdowns, .dropdowns:hover{
  display: flex;
  flex-direction: column;
  top: 6.5vh;
  padding-top: 1vh;
}
.absolutesvg{
  position: absolute;
  left: 7vh;
  width: 3vh;
  height: 3vh;
}
.navbarsvg{
  width: 5.5vh;
  height: 5.5vh;
}
.navbar-select{
  align-items: center;
  display: flex;
  gap: 0;
  padding: 0.25vh;
  color: var(--color1);
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: var(--color2p);
  user-select: none;
  cursor: pointer;
}
.navbar-select:hover, .contentselection:hover .dropbutton{
  color: var(--color4);
  transition: 0.35s ease;
}
.contentselected{
  border-color: var(--color4);
}
.contentselection{
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.dropdowns{
  position: absolute;
  display: none;
  text-align: center;
  z-index: 3;
}
.dropdownitem{
  border: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--color5);
  background-color: var(--color4);
  color: #ffffff;
  font-family: var(--font1);
  font-size: 4vh;
  text-align: left;
  cursor: pointer;
}
.dropdownitem:hover{
  background-color: var(--color5);
}

.titlesecond{
  text-align: left;
  font-size: 4.5vh;
  font-weight: bold;
  font-family: var(--font1);
  color: var(--color1);
}
main{
  background-color: var(--color2s);
  padding: 4vh 10vw 10vh 10vw;
  min-height: 70vh;
}
/* 84vh (main, height+padding vertical) + 13vh (navbar, height+border) + 3vh (foot) = 100vh */

.foot{
  background: var(--color5);
  color: #ffffff;
  font-family: var(--font1);
  font-size: 1.5vh;
  bottom: 0;
  left: 0;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkmode{
  background-color: var(--color2p);
  cursor: pointer;
  border: none;
  border-radius: 5vh;
  width: 10vh;
  border: solid 2px var(--color4);
  color: var(--color4);
}
.darkmode:hover{
  background-color: var(--color4);
  color: var(--color2p);
}
.darkanimation{
  animation: pulse 0.7s;
  box-shadow: 0 0 0 1.2em transparent;
}
.darkicon{
  width: 5vh;
  height: 5vh;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--color4); }
}

.homebutton{
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: var(--color2s);
  color: var(--color4);
  font-family: var(--font2);
  font-weight: bold;
  font-size: 4.25vh;
  border: solid;
  border-color: var(--color4);
  cursor: pointer;
  align-self: center;
  max-width: fit-content;
  margin: 3vh 0;
  box-shadow: none;
  transition: 0.65s;
}
.homebutton:hover{
  box-shadow: inset 11em 0 0 0 var(--color4);
  color: #ffffff;
}
.homebutton::before{
  content: 'Leve-me para lá';
}

.secondtext{
  margin: 3vh 0;
}
.secondtext, .secondtext input{
  background-color: var(--color2s);
  font-family: var(--font3);
  font-size: 3vh;
  word-wrap: break-word;
  color: var(--color1);
}

.home{
  display: flex;
  flex-direction: column;
}

.anot{
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  background-color: var(--color4);
  width: 30vh;
  height: 40vh;
  border: solid;
  border-color: var(--color4);
  border-width: 1vh 2px 2px 2px;
  box-shadow: 5px 5px 0px var(--color5);
}
.editting{
  box-shadow: 5px 5px 15px var(--color4);
}

.anotcontent::-webkit-scrollbar {
  width: 7px;
}
.anotcontent::-webkit-scrollbar-thumb{
  background-color: var(--color4);
}
.anotcontent::-webkit-scrollbar-thumb:hover{
  background-color: var(--color5);
}

.wholething:nth-child(even){
  transform: rotate(-3deg);
  top: 3px;
}
.wholething:nth-child(3n){
  transform: rotate(3deg);
  top: -3px;
}
.wholething:nth-child(4n){
  transform: rotate(2deg);
  top: -2px;
}
.wholething:nth-child(5n){
  transform: rotate(-2deg);
  top: 2px;
}
.wholething:hover{
  top: 0;
  transform: scale(1);
  transition: 0.25s ease;
  z-index: 2;
}
.view:nth-child(1n){
  top: 0;
  transform: scale(1);
  z-index: 1;
}

.confirmbuttons{
  border-radius: 5px;
  border: none;
  font-family: var(--font1);
  font-size: 2.5vh;
  background-color: var(--color4);
  border: 2px solid var(--color5);
  color: #ffffff;
  cursor: pointer;
}
.confirmbuttons:hover{
  background-color: var(--color5);
}

.displayanotations{
  margin-top: 3.5vh;
  gap: 2.5vw;
  display: flex;
  flex-wrap: wrap;
}
.displayfavorites{
  margin-top: 2vh;
}

.addanotation{
  width: 30vh;
  margin: 0 2vh;
  height: 40vh;
  font-family: var(--font1);
  color: var(--color4);
  background: var(--color2s);
  border-radius: 20px;
  border-style: dashed;
  border-color: var(--color4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.addanotation:hover{
  color: var(--color5);
  border-color: var(--color5);
}
.addsvg{
  width: 7.5vh;
  height: 7.5vh;
}
.addsvglink{
  width: 3vh;
  height: 3vh;
}

input, textarea{
  box-sizing: border-box;
  resize: none;
  border: none;
  font-family: var(--font2);
  outline: none;
  width: 100%;
}

.anottitle{
  white-space: nowrap;
  padding-left: 2px;
  height: 4.5vh;
  font-size: 3vh;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ffffff;
  font-family: var(--font2);
}

.anotcontent{
  white-space: normal;
  word-wrap: break-word;
  background-color: #ffffff;
  font-family: var(--font2);
  font-size: 2.25vh;
  overflow: auto;
  height: 35vh;
}
.anotcontentwarning{
  word-wrap: break-word;
}

.functionbutton{
  background: none;
  color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30px;
  height: 25px;
}
.deletebutton{
  color: #e61e1e;
}

.linkbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: fit-content;
  padding: 0.75vh 3vh;
  border: dashed var(--color4);
  border-radius: 15px;
  color: var(--color4);
  background: none;
}
.linkbutton:hover{
  border-color: var(--color5);
  color: var(--color5);
}

.coloredtext{
  color: var(--color4);
}

.bothbuttons{
  display: flex;
  justify-content: center;
  gap: 3px;
}

.listarea::-webkit-scrollbar {
  width: 5px;
}
.listarea::-webkit-scrollbar-thumb{
  background-color: var(--color4);
}
.listarea::-webkit-scrollbar-thumb:hover{
  background-color: var(--color5);
}

.wholelink{
  display: flex;
  position: relative;
}
.outermenu{
  border: solid var(--color4);
  border-width: 2px 2px 2px 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.favoritelink{
  outline: none;
  border:none;
  background-color: var(--color2s);
  color: var(--color4);
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.favoritelink:hover{
  background-color: var(--color4);
  color: var(--color2s);
}
.linkimage{
  width: 4vh;
  height: 4vh;
  align-self: center;
  justify-self: center;
  margin-left: 7px;
}
.littlelink{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: solid var(--color4) 2px;
  font-size: 3.5vh;
  font-family: var(--font3);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px; 
}
.wholeborder{
  border-radius: 12px;
}
.littlelink:hover{
  background-color: var(--color4);
}
.littlelink:hover .deletelinkbutton{
  background-color: var(--color4);
  color: #ffffff
}
.littlelink:hover .linktext{
  color: #ffffff
}
.linktext{
  padding: 0.5vw;
  text-decoration: none;
  min-width: fit-content;
  color: var(--color4);
}
.deletelinkbutton{
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  color: #e61e1e;
  background-color: var(--color2s);
  outline: none;
}
.deletelinkbutton:hover{
  color: var(--color2s);
  background-color: #e61e1e !important;
}
.requestdata{
  padding: 2vh;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--color4);
  gap: 10px;
  border: none;
  cursor: auto;
}

svg{
  overflow: visible;
}
.dropdownsvg{
  height: 20px;
  width: 20px;
}
.favanot:hover{
  transform: scale(1.05);
}

.functionality{
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 25px;
  border: solid var(--color4);
  border-width: 2px;
  overflow: hidden;
  background-color: #ffffff;
}
.wholething:hover .dropdownbutton{
  background-color: var(--color4);
  color: #ffffff;
}
.wholething:hover .functionality{
  height: 125px;
  animation: growDown 0.375s linear;
  transform-origin: top center;
}
.functionbutton:hover{
  background-color: #e6e6e6;
}
.deletebutton:hover{
  background-color: #e61e1e;
  color: #ffffff;
}
.wholething{
  position: relative;
  display: flex;
  gap: 10px;
}
.menuview{
  height: 125px;
  animation: none !important;  
}
.menuview .dropdownbutton{
  background-color: var(--color4);
  color: #ffffff;
}

.listinstruction{
  color: #696969;
  user-select: none;
  font-size: 1.6vh;
}

.listitem{
  word-wrap: break-word;
}

.infobutton{
  margin-top: 2vh;
  font-size: 1.8vh;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: var(--font3);
  gap: 10px;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color1);
}
.infobutton:hover{
  color: var(--color4);
}
.infobutton:hover .infobox{
  display: flex;
}
.infobox{
  background-color: var(--color4);
  width: 100%;
  border: var(--color5) solid 2px;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  color: #ffffff !important;
  display: none;
}
.securitysvg{
  height: 75px;
  width: 75px;
}
.redtext{
  color: #e61e1e;
}
.securitybuttons{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.securitybox button{
  font-family: var(--font1);
  font-size: 16px;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.cancelbutton{
  background-color: #e61e1e;
}
.cancelbutton:hover{
  background-color: #ad1212;
}
.confirmbutton{
  background-color: var(--color4);
}
.confirmbutton:hover{
  background-color: var(--color5);
}
.securitybox{
  box-shadow: 4px 4px 4px  rgba(80, 80, 80, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  background-color: var(--color2s);
  color: var(--color1);
  width: 300px;
  height: 200px;
  border-radius: 5px;
  font-family: var(--font1);
  font-size: 16px;
}
.minortext{
  font-size: 12px;
}
.disabledpage{
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  width: 100vw;
  height: 100vh;
}

.status{
  user-select: none;
  font-family: var(--font3);
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color1);
  font-size: 2vh;
}

@keyframes growDown {
  0% {
    height: 25px;
  }
  50% {
    height: 75px;
  }
  80% {
    height: 150px;
  }
  100% {
    height: 125px;
  }
}

.greentext{
  background-color: var(--color3);
  color: #ffffff;
}

.anotcontent .functionbutton{
  width: 4vh;
  height: 4vh;
}
.checksvg:hover{
  background-color: var(--color4);
}

.responsiveImg{
  height: 4vh;
  width: 4vh;
  display: none;
}

.bluebackground{
  background-color: var(--color3);
}

.savebutton{
  padding: 2px 4px;
  height: fit-content;
  font-family: var(--font1);
  font-size: 3vh;
  border: solid 2px var(--color4);
  background-color: var(--color2s);
  color: var(--color1);
  border-radius: 10px;
  cursor: pointer;
}
.savebutton:hover{
  background-color: var(--color4);
  color: var(--color2s);
}

.wrapdiv{
  display: flex;
  gap: 30px;
  margin: 1.5vh 0 1vh 0;
  box-shadow: none;
  width: fit-content;
  height: fit-content;
  border-radius: 11px;
}
.panimation{
  animation: pulse 0.8s;
  box-shadow: 0px 0px 0px 1.75em transparent 
}

.flex{
  display: flex;
  align-items: center;
  gap: 10px;
}

.displaymodes{
  top: -3vh;
  position: absolute;
  display: flex;
  gap: 3px;
}

.modesvg{
  height: 2.5vh;
  width: 2.5vh;
}

.favtitle{
  font-size: 3.5vh;
  font-family: var(--font1);
  font-weight: bold;
  margin: 2vh 0 0 0;
  width: fit-content;
  display: flex;
  align-items: center;
  color: var(--color1);
}

@media screen and (max-width: 768px){
  .homebutton::before{
    content: 'Leve-me lá';
  }
  .loginbox{
    width: 60vw;
  }
  .displayanotationswrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titlesecond{
    text-align: center;
  }
  .infobutton{
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .displayanotations{
    justify-content: center;
    gap: 4vh;
  }
  .loginchangewrapper{
    flex-direction: column;
  }
  .navbar{
    display: flex;
    flex-direction: column;
    overflow: visible;
    height: fit-content;
    padding-bottom: 3vh;
  }
  .responsiveImg{
    display: block;
  }
  .sections{
    display: none;
  }
  .navbar:hover .sections{
    display: flex;
    gap: 2vh;
    flex-direction: column;
  }
  .navbar:hover .dark-wrapper{
    display: flex;
  }
  .navbar:hover .responsiveImg{
    display: none;
  }
  .navbar-select{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dark-wrapper{
    margin-top: 3vh;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .absolutesvg{
    position: absolute;
    left: 5.5vh;
  }
  .dropdowns{
    position: relative;
  }
  .navbarwrapper:hover .dropdowns{
    top: 0vh;
  }
  .navbarwrapper:hover .navbar-select .absolutesvg{
    left: 9vh;
  }
  .flex{
    gap: 0px;
    flex-direction: column;
  }
  .loginbox{
    width: 85vw;
  }

  .justifycenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .secondtext input{
    width: 100%;
  }
  .editprofilebuttons{
    justify-content: center;
  }
}

.rotating{
  animation: rotation 0.75s infinite;
}

@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(359deg);
  }
}

.conectionsvg{
  height: 5vh;
  width: 5vh;
}

.empty{
  color: var(--color1);
  font-size: 2.25vh;
  font-family: var(--font3);
}

.userdata{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.userdata div{
  display: flex;
}
.useredit{
  background-color: var(--color4);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  width: fit-content;
  color: #ffffff;
  font-family: var(--font3);
  font-size: 3vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.useredit:hover{
  background-color: var(--color5);
}

.editprofilebuttons{
  display: flex;
  gap: 5px;
  align-items: center;
}

.loginsvg{
  width: 5.5vh;
  height: 5.5vh;
  margin-left: 1.5vh;
}

.displaynone{
  display: none;
}