@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&family=Poppins:wght@300&display=swap');

:root{
  --color1: #000000;
  --color2p: #ffffff;
  --color2s: #f7f7f7;
  --color3: #50cdff;
  --color4: #0AA1DD;
  --color5: #2155CD;
  --font1: 'Plus Jakarta Sans', sans-serif;
  --font2: 'Poppins', sans-serif;
  --boxshadow: #b9b9b9;
  --scroll: #b9b9b9;
  --scrollhover: #8d8d8d;
}
[data-theme='dark'] {
  --color1: #ffffff;
  --color2p: #212426;
  --color2s: #303336;
  --color3: #af45e0;
  --color4: #8E2DE2;
  --color5: #5811a8;
  --font1: 'Plus Jakarta Sans', sans-serif;
  --font2: 'Poppins', sans-serif;
  --boxshadow: #050505;
  --scroll: #cccccc;
  --scrollhover: #b9b9b9;
}

body, html{
  scroll-padding-top: 15vh;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color2s);
}

.lightBody::-webkit-scrollbar, .darkBody::-webkit-scrollbar{
  width: 16px;
}
.lightBody::-webkit-scrollbar-track{
  background-color: #f7f7f7;
}
.lightBody::-webkit-scrollbar-thumb{
  background-color: #a1a1a1;
  border: 4px solid #f7f7f7;
  border-radius: 10px;
}
.lightBody::-webkit-scrollbar-thumb:hover{
  background-color: #6b6b6b;
}
.darkBody::-webkit-scrollbar-track{
  background-color: #303336;
}
.darkBody::-webkit-scrollbar-thumb{
  border: 4px solid #303336;
  background-color: #b8b8b8;
  border-radius: 10px;
}
.darkBody::-webkit-scrollbar-thumb:hover{
  background-color: #929292;
}

button, input, textarea{
  color: inherit;
  background-color: inherit;
  outline: none;
  margin: 0px;
  padding: 0px;
}

input,textarea,button,select,a, div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a{
  color: inherit;
}

main{
  background-color: var(--color2s);
  padding: 2vh 8vw 5vh 8vw;
  min-height: calc(80vh - 20px);
}

.landingpage{
  border: none;
  background-color: #212426;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}
.landingpage .titulo, .loadingpage .titulo{
  font-size: clamp(100px,10vw,200px);
  user-select: auto;
  color: var(--color1);
}
.landingnavbar .titulo{
  color: var(--color2p);
  text-decoration: none;
}

.upperlanding{
  width: 90vw;
  padding: 12.5vh 5vw;
  height: 75vh;
  background: linear-gradient(to right, #ffffff, #eeeeee);
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
}
.landingsvg{
  color: var(--color2p);
  width: 75px;
  height: 75px;
  color: var(--color5);
}
.landingtext{
  font-family: var(--font1);
  color: #ffffff;
  font-size: clamp(35px, 6vw, 75px);
  font-weight: bold;
}
.landinggrid{
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.minor{
  font-size: 17px;
  font-weight: normal;
}
.featuresshowcase{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.secondlandingtitle{
  margin-bottom: 3vh;
}
.landingflex{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 300px;
  align-items: center;
  justify-content: flex-start;
}
.blacktext{
  color: var(--color1);
}

.blacklink{
  color: var(--color1);
  text-decoration: none;
}
.greenlink{
  color: #34b27b;
  text-decoration: none;
}
.purplelink{
  color: #430f7e;
  text-decoration: none;
}
.purplelink:hover, .greenlink:hover, .blacklink:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.landingbutton{
  font-family: var(--font2);
  font-weight: bold;
  color: #ffffff;
  font-size: 5vh;
  background-color: var(--color4);
  border: none;
  border-radius: 20px;
  width: fit-content;
  padding: 10px 50px;
  box-shadow: 5px 5px 15px var(--color3);
  cursor: pointer;
}
.landingbutton:hover{
  background-color: var(--color5);
  box-shadow: 5px 5px 15px var(--color4);
}
.smalllandingsvg{
  height: 6vh;
  width: 6vh;
}
.landingbuttons{
  margin-top: 5vh;
  align-items: center;
  display: flex;
  gap: 4vw;
}
.otherbutton{
  box-shadow: 5px 5px 10px #dddddd;
  background-color: var(--color2p);
  color: var(--color1);
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: auto;
  justify-content: center;
}
.otherbutton:hover{
  background-color: var(--color2p);
  box-shadow: 5px 5px 10px #c9c9c9;
}
.landinglink{
  font-family: var(--font2);
  font-size: 2.5vh;
  color: var(--color2p);
  text-decoration: none;
}
.landinglink:hover{
  color: #c9c9c9;
}
.landingnavbar{
  z-index: 1;
  position: fixed;
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  place-items: center;
  height: 12.5vh;
  background-color: var(--color1);
  width: 100vw;
}
.landingnavbar .titulo{
  font-size: 7.5vh;
  color: var(--color2p);
}
.landingfooter{
  padding: 3vh 5vw;
  width: 90vw;
  display: grid;
  place-items: center;
  background-color: var(--color5);
}

.tutorial{
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 10vw;
}
.cardtutorial{
  padding: 5vh 0 0 0;
  width: 100vw;
}
.cardtutorial .minor{
  margin: 0 20px;
  max-width: 625px;
}
.whitetutorial{
  background-color: var(--color2p);
}
.subtitle{
  color: var(--color1);
  font-family: var(--font1);
  font-size: 30px;
}
.card{
  justify-content: center;
  box-sizing: border-box;
  background-color: #35393b;
  display: flex;
  gap: 20px;
  padding: 15px 5vw;
  width: 50vw;
  height: fit-content;
  min-height: 200px;
  align-items: center;
}
.groupcard{
  width: 100vw;
  background-color: #292c2e;
  display: flex;
  justify-content: center;
}
.groupcard .card{
  background-color: inherit;
}
.card:nth-child(2n){
  background-color: #2C2F33;
}
.card:nth-child(3n){
  background-color: #2C2F33;
}
.card:nth-child(4n){
  background-color: #35393b;
}
.cardsvg{
  color: #ffffff;
  width: 125px;
  height: 125px;
}
.card .cardanotation{
  color: #ffffff;
}
.cardanotation{
  font-size: 25px;
  font-family: var(--font1);
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color5);
}
.carddescription{
  font-size: 16px;
  color: #ffffff;
  font-family: var(--font1);
}

.loginbackground{
  background: linear-gradient(to top right, #0ca1db, #1a4bbd);
  display: grid;
  grid-template-columns: repeat(6, 10vw);
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: center;
  color: #ffffff;
  width: 50vw;
  height: 100vh;
}
.loginbackground>div{
  top: calc(-5vh + 10px);
  transform: rotate(15deg);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 110vh;
  min-height: 660px;
}
.loginbackground div div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  min-height: 60px;
}
.loginbackground svg{
  opacity: 0.5;
  width: 45px;
  height: 45px;
}
.loginbackground>div:nth-child(even){
  top: calc(-5vh - 10px);
  flex-direction: column-reverse;
}
.loginbackground>div:nth-child(odd) .loopsvg2{
  display: none;
}
.loginbackground>div:nth-child(even) .loopsvg{
  display: none;
}
.login{
  position: relative;
  background-color: var(--color2p);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
}
.loginimage{
  width: 50vw;
  height: 100vh;
}
.loginbox{
  height: 100vh;
  box-sizing: border-box;
  padding: 25px 0;
  width: 50vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
form>button{
  margin-top: 12px;
}
.divinput button{
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  background-color: var(--color2p);
  border: none;
}
.loginsvg2{
  width: 32px;
  height: 32px;
}
.divinput input{
  font-size: 16px;
}
.divinputwrapper{
  display: flex;
  flex-direction: column;
  font-family: var(--font2);
  color: var(--color1);
  font-weight: bold;
  text-align: left;
  min-width: 300px;
  width: 60%;
}
.divinput{
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0px 6px;
  border-radius: 5px;
  border: solid 2px #b9b9b9;
}
.divinput:focus-within{
  border: solid 2px var(--color4);
}
.loginbox .titulo{
  font-size: 75px;
}
.logintext{
  font-size: 25px;
  font-family: var(--font2);
}
.loginerror{
  width: 75%;
  font-size: 15px;
  color: #e61e1e;
  animation: shake 0.4s linear;
}
@keyframes shake {
  0% { transform: translate(21px); }
  20% { transform: translate(-21px); }
  40% { transform: translate(14px); }
  60% { transform: translate(-14px); }
  80% { transform: translate(7px); }
  100% { transform: translate(0px); }
}
.loginsuccess{
  width: 75%;
  font-size: 15px;
  color: var(--color3);
  animation: shake 0.4s linear;
}
.loginchangewrapper{
  font-size: 15px;
  font-family: var(--font1);
  display: flex;
  gap: 5px;
}
.loginchange{
  outline: none;
  border: none;
  width: fit-content;
  background-color: var(--color2p);
  cursor: pointer;
  color: var(--color4);
  font-family: var(--font1);
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loginchange:hover{
  color: var(--color5);
}
.loginbutton{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--color4);
  color: #ffffff;
  font-family: var(--font1);
  font-weight: 400;
  font-size: 24px;
  min-width: 300px;
  outline: none;
  width: 60%;
  padding: 8px 0px;
  border-radius: 10px;
  cursor: pointer;
}
.loginbutton:hover{
  background-color: var(--color5);
}
.editprofilebutton{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color4);
  background-color: var(--color2p);
  color: var(--color4);
  font-family: var(--font1);
  font-weight: 400;
  font-size: 24px;
  outline: none;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.editprofilebutton:hover{
  background-color: var(--color4);
  color: #ffffff;
}

.navbar{
  display: grid;
  place-items: center;
  grid-template-columns: 1.25fr 2fr 1fr;
  height: 13vh;
  min-height: 80px;
  background: var(--color2p);
}
.loginlink{
  display: flex;
  gap: 5px;
  font-size: 20px;
  align-items: center;
  font-family: var(--font2);
  color: var(--color4);
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.loginlink svg{
  width: 40px;
  height: 40px;
}
.loginlink:hover{
  color: var(--color5);
}

.titulo{
  font-family: var(--font2);
  color: var(--color1);
  font-size: 50px;
  font-weight: bold;
  user-select: none;
}

.sections{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 7.5vw;
}
.navbarwrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbarwrapper:hover .dropdowns, .dropdowns:hover{
  display: flex;
}
.absolutesvg{
  position: absolute;
  left: 42px;
  width: 20px;
  height: 20px;
}
.navbarsvg{
  width: 40px;
  height: 40px;
}
.navbar-select{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font1);
  font-size: 14px;
  position: relative;
  padding: 0.25vh;
  color: var(--color1);
  user-select: none;
  cursor: pointer;
}
.contentselection{
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.dropdowns{
  top: 60px;
  padding-top: 5px;
  position: absolute;
  display: none;
  z-index: 4;
}
.dropdownswrapper{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  grid-template-columns: auto;
  place-items: center;
  overflow: hidden;
  gap: 0;
  margin: 0;
  padding: 2px;
  background-color: var(--color4);
  border-radius: 5px;
}
.droptop{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.dropbottom{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.dropdownswrapper button{
  height: 100%;
  width: 100%;
}
.dropdownitem{
  border: none;
  gap: 0;
  margin: 0;
  padding: 4px 10px;
  background-color: var(--color2p);
  color: var(--color1);
  font-family: var(--font2);
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}
.selecteddropdownitem, .dropdownitem:hover{
  background-color: var(--color4);
  color: #ffffff;
}

.titlesecond{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  font-family: var(--font1);
  color: var(--color1);
}

.foot{
  background: var(--color2s);
  color: var(--color1);
  font-family: var(--font1);
  font-size: 11px;
  height: 20px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerlink{
  color: var(--color3);
  cursor: pointer;
}
.footerlink:hover{
  color: var(--color4);
}

.darkmode{
  background-color: var(--color2p);
  cursor: pointer;
  border-radius: 25px;
  padding: 3px 0px;
  width: 65px;
  border: solid 2px var(--color4);
  color: var(--color4);
}
.darkmode:hover{
  background-color: var(--color4);
  color: var(--color2p);
}
.darkanimation{
  animation: pulse 0.7s;
  box-shadow: 0 0 0 1.2em transparent;
}
.darkicon{
  width: 30px;
  height: 30px;
}
.addsvg{
  width: 25px;
  height: 25px;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--color4); }
}

.secondtext{
  margin: 5px 0px 20px 0px;
  font-family: var(--font1);
  font-weight: 400;
  font-size: 20px;
  word-wrap: break-word;
  color: var(--color1);
}

.home{
  display: flex;
  flex-direction: column;
}
.home .displayanotations{
  padding-bottom: 0;
}
.displaynumbers{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}
.homeanotation{
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 12px 6px;
  min-width: 100px;
  gap: 5px;
  border-radius: 20px;
  background: linear-gradient(to top right, rgb(188, 78, 156), rgb(248, 7, 89));
}
.homeanotation:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 12px rgb(248, 7, 89, 0.75);
}
.homeanotation div{
  display: flex;
  font-family: var(--font1);
  font-weight: 400;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  align-items: center;
}
.homeanotation .homenumber{
  font-size: 50px;
}
.homeanotation:nth-child(2n){
  background: linear-gradient(to top right, rgb(80, 73, 156), rgb(36, 198, 220));
}
.homeanotation:nth-child(2n):hover{
  box-shadow: 0px 0px 12px rgba(36, 198, 220, 0.75);
}
.homeanotation:nth-child(3n){
  background: linear-gradient(to top right, rgb(241, 39, 17), rgb(245, 175, 25));
}
.homeanotation:nth-child(3n):hover{
  box-shadow: 0px 0px 12px rgba(241, 39, 17, 0.75);
}
.homeanotation:nth-child(4n){
  background: linear-gradient(to top right, rgb(17, 153, 142), rgb(56, 239, 125));
}
.homeanotation:nth-child(4n):hover{
  box-shadow: 0px 0px 12px rgba(56, 239, 125, 0.75);
}
.homeanotation:nth-child(5n){
  background: linear-gradient(to top right, rgb(113, 0, 226), rgb(225, 0, 255));
}
.homeanotation:nth-child(5n):hover{
  box-shadow: 0px 0px 12px rgba(225, 0, 255, 0.75);
}
.grayanotation:nth-child(1n){
  background: linear-gradient(to top right, rgb(67, 83, 99), rgb(165, 177, 185));
}
.grayanotation:nth-child(1n):hover{
  box-shadow: 0px 0px 12px rgba(165, 177, 185, 0.75);
}

.anot{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color2p);
  width: 225px;
  height: 275px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px -4px var(--boxshadow);
}
.editting{
  box-shadow: 0px 0px 10px var(--color3) ;
}
.smallanot{
  width: 150px;
  height: 175px;
}
.smallanot .anotcontent{
  height: calc(175px - 30px);
  width: 150px;
}
.smallanot .anottitle{
  width: 150px;
}

.anotcontent::-webkit-scrollbar, .previewbox::-webkit-scrollbar{
  width: 7px;
}
.anotcontent::-webkit-scrollbar-thumb, .previewbox::-webkit-scrollbar-thumb{
  background-color: var(--color4);
}
.anotcontent::-webkit-scrollbar-thumb:hover, .previewbox::-webkit-scrollbar-thumb:hover{
  background-color: var(--color5);
}

.confirmbuttons{
  border-radius: 5px;
  border: none;
  font-family: var(--font2);
  font-size: 2.5vh;
  padding: 0 5px;
  background-color: var(--color2p);
  border: 2px solid var(--color4);
  color: var(--color4);
  cursor: pointer;
}
.confirmbuttons:hover{
  color: var(--color2p);
  background-color: var(--color4);
}

.displayanotations{
  margin-top: 20px;
  padding-bottom: 10vh;
  row-gap: 30px;
  column-gap: 15px;
  display: flex;
  flex-wrap: wrap;
}
.displaylinks{
  row-gap: 15px;
}

@keyframes popup{
  0%{
    opacity: 0;
  }
  19%{
    opacity: 0;
  }
  20%{
    opacity: 1;
    transform: scale(0.25);
  }
  80%{
    transform: scale(1.25);
  }
  100%{
    transform: scale(1);
  }
}

.addanotation{
  color: #ffffff;
  background-color: var(--color4);
  border-radius: 50%;
  position: fixed;
  animation: popup linear 0.25s;
  border: none;
  width: 56px;
  height: 56px;
  bottom: calc(3vh + 7.5vh - 28px);
  box-shadow: 0px 0px 16px var(--color4);
  padding: 15px;
  left: calc(50% - 28px);
  display: grid;
  place-items: center;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 5;
}
.addanotation:hover{
  background-color: var(--color5);
}

input, textarea{
  resize: none;
  border: none;
  font-family: var(--font2);
  outline: none;
  width: 100%;
}

.anottitle{
  border-bottom: 3px solid var(--color4);
  white-space: nowrap;
  padding-left: 2px;
  box-sizing: border-box;
  height: 30px;
  width: 225px;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--color2p);
  color: var(--color1);
  font-family: var(--font2);
}

.anotcontent{
  width: 225px;
  box-sizing: border-box;
  background-color: var(--color2p);
  color: var(--color1);
  font-family: var(--font2);
  overflow: auto;
  height: calc(275px - 30px);
  word-wrap: break-word;
  padding: 0 2px;
  font-size: 15px;
}

.functionbutton{
  background: none;
  color: var(--color4);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 25px;
}
.functionbutton:hover{
  color: var(--color5);
}
.idlefunction, .grouptitle .idlefunction{
  color: var(--color1);
}

.coloredtext{
  color: var(--color4);
}

.bothbuttons{
  display: flex;
  justify-content: center;
  gap: 3px;
}
.listarea::-webkit-scrollbar {
  width: 0px;
}
.wholelink{
  display: flex;
  position: relative;
}
.outermenu{
  border: solid var(--color4);
  border-width: 2px 2px 2px 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.favoritelink{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  outline: none;
  border:none;
  background-color: var(--color2p);
  color: var(--color4);
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.favoritelink:hover{
  color: var(--color5);
}
.linkimage{
  width: 4vh;
  height: 4vh;
  align-self: center;
  justify-self: center;
  margin-left: 7px;
}
.littlelink{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color2p);
  color: var(--color1);
  border: solid var(--color4) 2px;
  font-size: 20px;
  font-family: var(--font2);
  font-weight: bold;
  cursor: pointer;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px; 
}
.wholeborder{
  border-radius: 12px;
}
.littlelink:hover{
  background-color: var(--color4);
}
.littlelink:hover .linktext{
  color: #ffffff
}
.linktext{
  padding: 5px;
  text-decoration: none;
  min-width: fit-content;
  color: var(--color4);
}
.deletelinkbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  color: #e61e1e;
  background-color: var(--color2p);
  outline: none;
}
.deletelinkbutton:hover{
  color: #ad1212;
}
.requestdata{
  padding: 10px;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--color2p);
  border: solid 2px var(--color5);
  gap: 10px;
  cursor: auto;
}
.requestdata input{
  padding-left: 3px;
  font-size: 2.5vh;
  background-color: var(--color2p);
  font-family: var(--font2);
  border: solid 2px var(--color4);
}
.requestdata:hover{
  background-color: var(--color2p);
}

svg{
  overflow: visible;
}
.dropdownsvg{
  height: 20px;
  width: 20px;
}
.favanot:hover{
  transform: scale(1.05);
}
.functionalitywrapper{
  height: fit-content;
}
.functionality{
  position: relative;
  z-index: 3;
  width: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 2px;
  height: 25px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  background-color: var(--color2p);
  box-shadow: 4px 4px 10px -4px var(--boxshadow);
}
.growanimation{
  height: 175px;
  transition: height 0.4s ease;
}
.shrinkanimation{
  height: 25px;
  transition: height 0.3s ease;
}
.removesvg{
  color: #e61e1e;
}
.removesvg:hover{
  background-color: var(--color2p);
  color: #ad1212;
}
.wholething{
  position: relative;
  display: flex;
  gap: 5px;
}
.listinstruction{
  color: #999999;
  user-select: none;
  font-size: 10px;
  word-wrap: break-word;
}
.listarea{
  font-size: 15px;
}

.displaycompleted{
  position: absolute;
  right: 40px;
  font-size: 14px;
  top: -19px;
  text-align: right;
  font-family: var(--font2);
  font-weight: bold;
  color: var(--color3);
}
.homesvg{
  width: 30px;
  height: 30px;
}
.homeanotationsvg{
  width: 50px;
  height: 50px;
}

.securitysvg{
  height: 75px;
  width: 75px;
  margin-bottom: -5px;
}
.redtext{
  color: #e61e1e;
}
.securitybuttons{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.securitybox button{
  font-family: var(--font1);
  font-size: 16px;
  color: #ffffff;
  padding: 5px;
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
}
.cancelbutton{
  background-color: #e61e1e;
}
.cancelbutton:hover{
  background-color: #ad1212;
}
.confirmbutton{
  background-color: var(--color4);
}
.confirmbutton:hover{
  background-color: var(--color5);
}
.securitybox{
  box-shadow: 4px 4px 10px -4px var(--boxshadow);
  display: flex;
  flex-direction: column;
  padding: 0 20px 2px 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;
  background-color: var(--color2s);
  color: var(--color1);
  width: 300px;
  height: 200px;
  border-radius: 10px;
  font-family: var(--font1);
  font-size: 16px;
}
.minortext{
  font-size: 12px;
}
.disabledpage{
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.15);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  width: 100vw;
  height: 100vh;
}

.status{
  font-family: var(--font2);
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color1);
  font-size: 13px;
}

.greentext{
  color: var(--color4);
}

.anotcontent .functionbutton{
  width: 25px;
  height: 25px;
}
.checksvg{
  color: var(--color4);
}
.checksvg:hover{
  color: var(--color5);
  background-color: var(--color2p);
}

.responsiveImg{
  height: 4vh;
  width: 4vh;
  display: none;
}

.bluebackground{
  background-color: var(--color3);
}

.panimation{
  animation: pulse 0.8s;
  box-shadow: 0px 0px 0px 1.75em transparent 
}

.flex{
  display: flex;
  align-items: center;
  gap: 10px;
}

.displaymodes{
  top: -18px;
  position: absolute;
  display: flex;
  gap: 3px;
}

.rotating{
  animation: rotation 0.75s infinite;
}

@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.conectionsvg{
  height: 25px;
  width: 25px;
}

.empty{
  color: var(--color1);
  font-size: 15px;
  font-family: var(--font2);
}

.justifycenter{
  display: flex;
  gap: 25px;
  margin-top: 10px;
}
.justifycenter div{
  display: flex;
  gap: 20px;
}
.secondtext input{
  font-family: inherit;
  font-size: inherit;
}
.userdata button{
  border: none;
  width: fit-content;
  height: fit-content;
}
.smalltextlogin{
  font-size: 16px;
}
.bothdata svg{
  color: var(--color4);
  width: 20px;
  height: 20px;
}
.userdata{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}
.bothdata{
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.bothdata>div{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.bothdata>div>div:nth-child(odd){
  display: flex;
  align-items: center;
  gap: 5px;
}
.bothdata>div>div:nth-child(even){
  border-bottom: 2px solid var(--color4);
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  white-space: nowrap;
}
.bothdata>div>input{
  border-bottom: 2px solid var(--color4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
}
.bothdata>div>input:focus{
  border-bottom: 2px solid var(--color5);
}
.errorwrapper{
  margin-top: 15px;
  display: flex;
  width: 100%;
}

.loginsvg{
  width: 35px;
  height: 35px;
}
.modesvg{
  height: 17px;
  width: 17px;
}

.grouptitle{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font2);
  font-weight: bold;
  font-size: 20px;
  color: var(--color1);
  width: 100%;
  border: solid var(--color4);
  border-width: 0 0 2px 0;
}
.titleinput{
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
}
.grouptitle input, .grouptitle div{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.grouptitle button{
  border: none;
  cursor: pointer;
  color: var(--color4);
}
.grouptitle button:hover{
  color: var(--color5);
}
.grouptitle .groupdeletebutton{
  color: #e61e1e;
}
.grouptitle .groupdeletebutton:hover{
  color: #ad1212;
}
.group{
  width: 100%;
  background-color: var(--color2s);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.specificgroup{
  gap: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.previewbox{
  box-shadow: 4px 4px 10px -4px var(--boxshadow);
  background-color: var(--color2s);
  border: none;
  position: relative;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  border-radius: 10px;
  width: 80vw;
  height: 80vh;
}

.addbuttonswrapper{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.addbuttongroups{
  position: relative;
  height: 40px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color2s);
  border: dashed var(--color4) 2px;
  border-radius: 25px;
  cursor: pointer;
  color: var(--color4);
}
.addbuttongroups:hover, .addbuttonlinks:hover{
  color: var(--color5);
  border-color: var(--color5);
}
.previewflex{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10px;
}
.previewtitle{
  padding: 5px 30px 5px 10px;
  font-family: var(--font2);
  background-color: var(--color2p);
  color: var(--color1);
  font-size: 20px;
}
.exitpreview{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: var(--color4);
  background-color: var(--color2p);
  border: none;
}
.exitpreview:hover{
  color: var(--color5);
}
.previewbox .littlelink, .previewbox .wholeimage{
  pointer-events: none;
}
.previewbox .zoomicon{
  display: none;
}
.zoomicon{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  color: var(--color4);
}
.imgwrapper{
  position: relative;
}
.zoomout{
  right: 0px;
  width: 25px;
  height: 25px;
}
.favanot .zoomicon{
  right: 0px;
}

.previewnote{
  user-select: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
}
.previewnote:hover{
  transform: scale(1.05);
}
.previewnote .favanot:hover{
  transform: scale(1);
}
.previewcheckedsvg{
  position: absolute;
  width: 75px;
  height: 75px;
}
.previewcheckedsvglink{
  position: absolute;
  width: 50px;
  height: 50px;
}
.previewsubtitle{
  color: var(--color4);
}
.displaychoice{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.displaychoice button{
  color: var(--color1);
  border: var(--color2s) solid;
  border-width: 0 0 2px 0;
  padding: 2px;
  cursor: pointer;
}
.displaychoice .chosenstyle{
  border-color: var(--color4);
}
.displaychoice button:hover{
  color: var(--color4);
}
::-webkit-inner-spin-button,::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.datebox{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 136px;
  bottom: 4px;
  left: 4px;
  border: 2px solid var(--color4);
  background-color: var(--color5);
  color: #ffffff;
  font-family: var(--font2);
  font-weight: bolder;
  font-size: 15px;
  border-radius: 10px;
  padding: 4px;
}
.calendarspace{
  height: 40px;
}
.dateinputs{
  max-width: 82.5%;
}

.displayimgs{
  align-items: flex-start;
}
.imgpicture{
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.wholeimage{
  border-radius: 10px;
  border: solid 2px;
  border-color: var(--color4);
  overflow: hidden;
  display: flex;
  position: relative;
}
.wholeimage>div:nth-child(odd){
  max-width: 250px;
  max-height: 250px;
}
.wholeimage .outermenu{
  flex-direction: column;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.entireimage{
  max-width: 90vw;
  max-height: 90vh;
  user-select: none;
}

.navbar-select .profilepicwrapper{
  width: 38px;
  height: 38px;
}
.userdata .profilepicwrapper{
  width: 150px;
  height: 150px;
}
.userdata .imgpicture{
  min-width: 150px;
  min-height: 150px;
}
.profilepicwrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid var(--color1);
  overflow: hidden;
  cursor: pointer;
}
.navbar-select .profilepicwrapper{
  border-color: var(--color2p);
}
.navbar-select .whiteborder{
  border-color: var(--color1);
}
.userdata .loginpicturewrapper{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  color: #ffffff;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.profilepicwrapper:hover .loginpicturewrapper{
  display: flex;
}
.userdata .loginpicturesvg{
  width: 35px;
  height: 35px;
}

.loadingpage{
  position: absolute;
  z-index: 10;
  width: 100vw;
  box-sizing: border-box;
  padding-bottom: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color2p);
}
.loader{
  width: 200px;
  height: 200px;
  border: solid var(--color2s) 20px;
  border-top: solid var(--color4) 20px;
  border-radius: 50%;
}
.justifycenter .profiledark{
  display: none;
}

.emptyanotations{
  display: flex;
  margin-top: 50px;
  width: 100%;
  font-size: 16px;
  flex-direction: column;
  text-align: center;
  word-wrap: break-word;
  color: var(--color1);
  font-family: var(--font2);
  align-items: center;
  gap: 10px;
}
.emptyanotations svg{
  color: var(--color1);
  width: 125px;
  height: 125px;
}

@media screen and (max-width: 1024px){
  .login{
    align-items: stretch;
  }
  .grouptitle button:hover{
    color: var(--color4);
  }
  .loginbox{
    overflow-y: scroll;
    justify-content: flex-start;
  }
  .dateinputs{
    max-width: 100%;
  }
  .favoritelink:hover{
    color: var(--color4);
  }
  .functionbutton:hover{
    color: var(--color4);
  }
  .removesvg:hover {
    background-color: var(--color2p);
    color: #ad1212;
  }
  .idlefunction:hover, .grouptitle .idlefunction:hover{
    color: var(--color1);
  }
  .addanotation{
    bottom: calc(20px + 7.5vh - 28px);
  }
}
@media screen and (max-width: 768px){
  .divinputwrapper{
    width: 80%;
  }
  .loginbutton{
    width: 80%;
  }
  .bothdata>div>input, .bothdata>div>div:nth-child(even){
    width: 90vw;
  }
  .errorwrapper .loginsuccess{
    text-align: center;
  }
  .errorwrapper{
    display: flex;
    justify-content: center;
  }
  .secondtext{
    text-align: center;
  }
  .userdata .secondtext{
    text-align: left;
  }
  .justifycenter{
    align-items: center;
    flex-direction: column;
  }
  .justifycenter .profiledark{
    display: flex;
  }
  .userdata{
    gap: 0px;
  }
  .specificgroup{
    justify-content: center;
  }
  .titlesecond{
    text-align: center;
  }
  .displayanotationswrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infoflex{
    justify-content: center;
  }
  .displayanotations{
    justify-content: center;
  }
  .status{
    justify-content: center;
  }
  .navbar .titulo{
    display: none;
  }
  .navbar{
    grid-template-columns: 1fr;
  }
  main{
    padding: 2vh 5vw 5vh 5vw;
  }
  .sections{
    gap: 10vw;
  }
  .dark-wrapper{
    display: none;
  }
  .flex{
    gap: 0px;
    flex-direction: column;
  }
  .previewflex{
    justify-content: center;
  }
  .userdata{
    flex-direction: column;
    align-items: center;
  }
  .addbuttonswrapper{
    justify-content: center;
  }
  .login{
    flex-direction: column;
    overflow: auto;
  }
  .loginbox{
    width: 100vw;
    height: fit-content;
    overflow-y: visible;
  }
  .loginbackground{
    width: 100vw;
    height: 100%;
    grid-template-columns: repeat(6, 20vw);
  }
  .loginbackground>div{
    transform: rotate(0deg);
  }
  .landingbuttons{
    flex-direction: column;
    gap: 3vh;
  }
  .otherbutton{
    font-size: 5vh;
    padding: 10px 10px;
    gap: 5px;
  }
  .landingnavbar .titulo{
    display: none;
  }
  .landingnavbar{
    grid-template-columns: repeat(3, 1fr);
  }
  .card{
    width: 100vw;
    gap: 10px;
  }
  .card:nth-child(3n){
    background-color: #212426;
  }
  .card:nth-child(4n){
    background-color: #2C2F33;
  }
  .displaynumbers{
    justify-content: center;
  }
  .loginbutton{
    padding: 7px 14px;
  }
}

.displaynone{
  display: none;
}
.foot{

}